body, *, *:before, *:after {
    box-sizing: border-box; 
}
@font-face {
    font-family: "TT Lakes";
    font-weight: normal;
    src: local("TT Lakes"),
    url("./TTLakes/TTLakes-Medium.woff") format("woff"),
    url("./TTLakes/TTLakes-Light.woff") format("woff");
}

body {
    font-family: "TT Lakes", sans-serif;
    margin: 0;
    background: #F8F8F8;
}
a {
    text-decoration: none;
    color: #5f5f5f;
}

.hidden, .hidden1 {
    display: none;
}
.main__block {
    display: none;
    margin: 0 0 20px 38px;
    width: 95px;
    height: 30px;
}

.block-header {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    height: 88px;
    align-items: center;
    border-bottom: solid 1px #D9FFF5;
}

.block-header__left {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: #FFFFFF;
    height: 88px;
}
.block-header__right {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: #FFFFFF;
    height: 88px;
}
.btn1 {
    margin-right: 20px;
}
.btn2 {
    width: 2px;
    height: 32px;
    margin-right: 20px;
}
.btn3 {
    width: 96.55px;
    height: 50.81px;
    margin-right: 20px;
}
.btn4 {
    margin-right: 20px;
}
.btn5 {
    margin-right: 20px;
}
.btn6 {
    margin-right: 20px;
}
.btn7 {
    margin-right: 20px;
    display: block;
}
.btn8 {
    margin-right: 20px;
}
.btn9 {
    margin-right: 20px;
}

.btn {
    width: 40px;
    height: 40px;
    padding-top: 4px;
    border-radius: 20px;
    border: 0;
    background: #FF3E79;
}

.block-header__icon--logo {
    width: 96.55px;
    height: 50.81px;
}

.main {
    min-width: 320px;
}

.main-heading {
    display: flex;
    justify-content: flex-start;
    min-width: 304px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.main-heading__column--blue {
    width: 4px;
    height: 40px;    
    background: #41F6D7;
}

.main-heading__h1 {
    font-size: 28px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.main-services {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    min-width: 504px;
    height: 40px;
    margin-left: 25px;
    margin-bottom: 30px;
}


.btn-service {
    display: block;
    text-align: center;
    padding: 5px 10px 0 10px;
    margin-right: 10px;
    border: solid 2px #FFFFFF;
    background: #FFFFFF;
    border-radius: 6px;
}

.btn-service:hover {
    border: 2px solid #B8FFEC;
}
.main-services__btn-service1 {
    width: 246px;
    height: 40px;
    border: 2px solid #B8FFEC;
}
.main-services__btn-service2 {
    width: 258px;
    height: 40px;
}

.main-services__btn-service3 {
    width: 143px;
    height: 40px;
}

.main-services__btn-service4 {
    width: 191px;
    height: 40px;
}

.main-services__btn-service5 {
    width: 233px;
    height: 40px;
    display: none;
}

.main-services__btn-service6 {
    width: 233px;
    height: 40px;
    display: none;
}

.main-services__btn-service7 {
    width: 95px;
    height: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    min-width: auto;
    height: auto;   
    overflow-x: hidden;
    margin-bottom: 20px;
}

.info--text {
    box-sizing: content-box;
    overflow: scroll;
    scrollbar-width: none;
    min-width: 288px;
    height: 90px;
    color: #5f5f5f;
    text-align: left;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
}

.info--button {
    display: flex;
    width: 132px;
    height: 24px;
    background-color: white;
    border: none;
    padding: 0;
    margin-left: 35px;
    margin-bottom: 20px;
}

.info--icon {
    margin-top: 4px;
    width: 7.41px;
    height: 10.29px;
}

.info--p {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    width: 132px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.info--img {
    min-width: 320px;
    height: 176px;
}


@media (min-width: 784px) and (max-width: 1120px) {
    .hidden {
        display:block;
    }    
    .info {
        display: flex;
        flex-flow: column wrap;
        overflow-x: hidden;
        min-width: 720px;
        height: 208px; 
        margin-bottom: 40px;  
        margin-left: 25px;
    }
    .info--img {
        min-width: 45%;
        height: 208px;
        margin-right: 20px;
    }   
    .info--text {
        overflow: scroll;
        scrollbar-width: none;
        color: #5f5f5f;
        text-align: left;
        line-height: 18px;
        letter-spacing: 0.20000000298023224px;
        font-size: 14px;
        min-width: 312px;
        max-width: 45%;
        height: 160px; 
        margin-left: 0;
        margin-right: 30px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
    }
    .info--button {
        display: flex;
        box-sizing: content-box;
        width: 132px;
        height: 20px;
        background-color: white;
        border: none;
        padding: 0;
        margin-top: 25px;
        margin-bottom: 0;
        margin-left: 5px;

    }
    .info--p {
        box-sizing: content-box;
        width: 132px;
        height: 24px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
@media (min-width: 1121px) {
    .main {
        margin-top: 30px;
    }
    .block-header {
        float: right;
        height: auto;
        border-bottom: none;
        margin-bottom: 10px;
    }
    .block-header__left {
        display: none;
    }
    .block-header__right {
        padding-bottom: 0;
        height: 60px;
    }
    .btn7 {
        display: none;
    }
    .hidden1 {
        display: block;
        margin-right: 10px;
        margin-left: 20px;
    }
    .main-services {
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        min-width: 1063px;
        height: 82px;
        margin: 20px 0 20px 25px;
    }
    .main-services__btn-service1 {
        border: 2px solid white;;
    }
    .main-services__btn-service5 {
        display: block;
        border: 2px solid #B8FFEC;
    }
    .main-services__btn-service2 {
        display: none;
    }
    .main-services__btn-service3 {
        margin-right: 9px;
    }
    .main-services__btn-service6 {
        display: block;
    }
    .main-services__btn-service7 {
        padding-left: 20px;
    }
    .main-heading {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 10px;
    }
    .info {
        display: flex;
        flex-flow: column wrap;
        overflow-x: hidden;
        min-width: 1120px;
        height: 307px; 
        margin-bottom: 40px;  
        margin-left: 25px;
    }
    .info--img {
        min-width: 45%;
        height: 307px;
        margin-right: 20px;
    }   
    .info--text {
        overflow: hidden;
        scrollbar-width: none;
        color: #5f5f5f;
        text-align: left;
        line-height: 18px;
        letter-spacing: 0.20000000298023224px;
        font-size: 14px;
        min-width: 312px;
        max-width: 45%;
        height: 160px; 
        margin-left: 0;
        margin-right: 30px;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
    }
    .info--button {
        display: flex;
        box-sizing: content-box;
        width: 125px;
        height: 20px;
        background-color: white;
        border: none;
        padding: 0;
        margin-top: 25px;
        margin-bottom: 0;
        margin-left: 5px;

    }
    .info--p {
        box-sizing: content-box;
        width: 132px;
        height: 24px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .main__block {
        display: block;
    }
}